/* Based on /core/themes/seven/components/buttons.css */

/* Fix for missing RTL style in core CSS */
[dir="rtl"] .ui-selectmenu-button span.ui-selectmenu-text {
  text-align: right;
}

[dir="rtl"] .ui-selectmenu-button span.ui-icon {
  right: auto;
  left: 7px;
}

/**
 * Place ajax throbber at the center of dropdown,
 * also making dropdown more transparent.
 */
.form-type-select-icons {
  position: relative;
}
.selecticons + .ajax-progress {
  position: absolute;
  z-index: 11;
  top: 4px;
  left: 55px;
  font-weight: 400;
}
.selecticons + .ajax-progress .throbber {
  padding-right: 6px;
}
.ajax-progress + .ui-selectmenu-button {
  opacity: 0.15;
}

.ui-widget.ui-selectmenu-button,
.ui-selectmenu-menu .ui-menu-item {
  font-size: 12px;
  font-weight: 400;
}
.ui-widget.ui-selectmenu-button {
  position: relative; /* 1 */
  display: inline-block;
  box-sizing: border-box;
  width: auto !important;
  min-width: 200px;
  padding: 4px 18px; /* 4 */
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  text-decoration: none;
  color: #333;
  border: 1px solid #a6a6a6;
  border-radius: 20em;
  background-color: #f2f1eb;
  background-image: -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
  background-image: linear-gradient(to bottom, #f6f6f3, #e7e7df);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
  line-height: normal; /* 2 */
  -webkit-appearance: none; /* 3 */
  -moz-appearance: none; /* 3 */
  -webkit-font-smoothing: antialiased; /* 6 */
}
.ui-widget.ui-selectmenu-button:hover,
.ui-widget.ui-selectmenu-button:focus {
  text-decoration: none;
  color: #1a1a1a;
  outline: none;
  background-color: #f9f8f6;
  background-image: -webkit-linear-gradient(top, #fcfcfa, #e9e9dd);
  background-image: linear-gradient(to bottom, #fcfcfa, #e9e9dd);
}
.ui-widget.ui-selectmenu-button:hover {
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125);
}

.ui-widget.ui-selectmenu-button .ui-current-item-icon {
  float: none;
  margin: -1px 0 0 0;
  vertical-align: middle;
}
.ui-selectmenu-menu .ui-menu-item {
  position: relative;
  overflow: hidden;
  padding-left: 25px;
  white-space: nowrap;
}
.ui-selectmenu-menu .ui-menu-item span {
  position: absolute;
  top: 6px;
  left: 5px;
}
[dir="rtl"] .ui-selectmenu-menu .ui-menu-item {
  padding-right: 25px;
  padding-left: 5px;
}
[dir="rtl"] .ui-selectmenu-menu .ui-menu-item span {
  right: 5px;
  left: auto;
}

/* Prevent focus ring being covered by next siblings. */
.ui-widget.ui-selectmenu-button:focus {
  z-index: 10;
  border: 1px solid #3ab2ff;
  box-shadow: 0 0 0.5em 0.1em hsla(203, 100%, 60%, 0.7);
}
.ui-widget.ui-selectmenu-button:active {
  -webkit-transition: none;
  transition: none;
  border: 1px solid #a6a6a6;
  background-color: #dfdfd9;
  background-image: -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
  background-image: linear-gradient(to bottom, #f6f6f3, #e7e7df);
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
}

/* Reset default selectmenu inner div properties */
.ui-selectmenu-button span.ui-selectmenu-text {
  display: inline-block;
  overflow: visible;
  padding: 3px 10px 3px 5px;
  text-overflow: inherit;
  line-height: inherit;
}
[dir="rtl"] .ui-selectmenu-button span.ui-selectmenu-text {
  padding: 3px 5px 3px 10px;
}

/* Style opened list - this is the same as .ui-autocomplete */
.ui-selectmenu-open .ui-menu.ui-widget-content {
  /* Prevent creating too long dropdowns. */
  max-height: 10em;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background: #fff;
}

/* Adjust border radius to make the dropdown look like part of the button itself */
.ui-selectmenu-button.ui-corner-top {
  transition: border-radius 0s;
  border-radius: 1em 1em 0 0;
}

/* List item selector to indicate which element is under the cursor */
.ui-selectmenu-menu .ui-menu-item.ui-state-focus {
  /* Remove weird margin that makes list items "jump" when hovered */
  margin: 0;
  color: #fff;
  background: #0072b9;
}

/* Fix element position when is presented inside draggable table */
tr.draggable .form-type-select-icons {
  display: inline-block;
}

/* Remove padding around icons */
.ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper {
  padding: unset;
}
