{#
/**
 * @file
 * Default theme implementation for a select icons element.
 *
 * Available variables:
 * - attributes: HTML attributes for the select tag.
 * - options: The option element children.
 * - options_attributes: Additional attributes for options elements.
 *
 * @see template_preprocess_selectmenu()
 *
 * @ingroup themeable
 */
#}
{% macro print_options_attributes(option, attributes) %}
  {% if attribute(attributes, option) is defined %}
    {{ attribute(attributes, option) }}
  {% endif %}
{% endmacro %}

{{ attach_library('select_icons/selecticons') }}
{% apply spaceless %}
  <select{{ attributes }}>
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}{{ _self.print_options_attributes(sub_option.value, options_attributes) }}>{{ sub_option.label }}</option>
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}{{ attribute(options_attributes, option.value) }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endapply %}
